@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

/* フェードアウトアニメーションのスタイル */
.flash-enter-active, .flash-leave-active {
  transition: opacity 0.1s ease;
}
.flash-enter, .flash-leave-to /* .flash-leave-active in <2.1.8 */ {
  opacity: 0;
}

.button-transition {
  transition: background-color 0.5s ease, color 0.5s ease;
}